body {
  margin: 0;
  padding: 0;
}

.navbar-container {
  background: rgb(0, 0, 0);
  min-width: 100vh;
  height: 8.4vh;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.navbar-container2 {
  display: flex;
  width: 130vh;
  justify-content: space-between;
  align-items: center;
}

.navbar-items-con {
  display: flex;
  gap: 2vh;
}

.navbar-items {
  gap: 4vh;
  display: flex;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.navbar-login {
  gap: 4vh;
  display: flex;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.navbar-items span {
  cursor: pointer;
  transition: all 300ms ease;
}

.navbar-login span {
  cursor: pointer;
  transition: all 300ms ease;
}

.navbar-items span:hover {
  color: #1ed760;
}

.navbar-login span:hover {
  color: #1ed760;
}

.navbar-login span {
  cursor: pointer;
}

.navbar-logo {
  height: fit-content;
}

.navbar-logo img {
  height: 4vh;
  cursor: pointer;
}

/* CTA */

.cta-container {
  min-width: 100vh;
  background: rgb(223, 12, 139);
  height: 27rem;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.cta-wrapper {
  margin-top: auto;
}

.cta-all {
  background: rgba(255, 255, 255, 0);
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  width: 140vh;
  justify-content: center;
  align-items: center;
  color: white;
}

.cta-text {
  display: flex;
  flex-direction: column;
  width: 80vh;
  gap: 2vh;
}

.cta-text h1 {
  font-weight: 600;
  font-size: 2.5rem;
}

.cta-text-p {
  font-weight: 400;
  font-size: 1.2rem;
}

.cta-buttons button {
  width: 15rem;
  cursor: pointer;
  transition: all 500ms ease;
  font-weight: 600;
  font-size: 0.7rem;
}

.cta-text-p-int {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
}

.cta-buttons button:hover {
  scale: 1.1;
}
.cta-buttons {
  display: flex;
  gap: 2vh;
}

.cta-logo img {
  background-size: cover;
  width: 400px;
  aspect-ratio: 1/1;
}

.cta-button-fa {
  background: #191414;
  color: white;
  text-transform: uppercase;
  border: 0;
  height: 3rem;
  border-radius: 35px;
}

.cta-button-visa {
  background: transparent;
  color: white;
  text-transform: uppercase;
  border: solid 3px white;
  border-radius: 35px;
  height: 3rem;
}

/* VAR */

.var-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35rem;
  gap: 2vh;
}

.var-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.var-all {
  display: flex;
  justify-content: center;
  gap: 10vh;
  align-items: center;
  color: black;
}

.var-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.var-box img {
  aspect-ratio: 1/1;
  width: 142px;
}

.var-hed {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0px;
}

.var-bot {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 5px;
}

/* premium- FRONT */

.premium-container {
  min-width: 100vh;
  display: flex;
  height: 60rem;
  background: #efefef;
  align-items: center;
  justify-content: center;
}

.premium-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.premium-header {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

.premium-header h1 {
  font-weight: 600;
  margin: 0;
  margin-bottom: 1vh;
}

.premium-header p {
  font-weight: 400;
  margin: 0;
  margin-bottom: 5vh;
}

.premium-all {
  display: flex;
  justify-content: center;
  gap: 2vh;
  margin: 0;
}

.premiumbox {
  width: 15rem;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  height: 30rem;
  border-radius: 30px;
  padding: 1rem 1rem;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
}

.premiumbox p {
  margin: 0;
  margin-bottom: 0.5vh;
}

.premiumbox h1 {
  margin: 0;
  margin-bottom: 1vh;
}

.premium-gratis {
  background: #0d72ea;
  width: fit-content;
  padding-left: 1vh;
  padding-right: 1vh;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 5px;
}

.premiumbox button {
  background: #191414;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  height: 3rem;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 500ms ease;
}

.premiumbox button:hover {
  scale: 1.05;
}

.ability {
  display: flex;
  flex-direction: column;
  height: 12rem;
  background: rgba(255, 0, 0, 0);
}

.premiumsplit {
  height: 20px;
  width: 100%;
}

.premiumbox-down p {
  font-size: 0.7rem;
}

.premiumsplitdown {
  height: 0px;
  width: 100%;
}

/* navbot */

.navbot-wrapper {
  min-width: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 33rem;
}
.navbot-container {
  display: flex;
  justify-content: space-between;
  width: 70rem;
  margin-top: 5rem;
}

.navbot-left {
  display: flex;
  gap: 3rem;
}

.navbot-links {
  display: flex;
  gap: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.navbot-links h2 {
  color: #919496;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}
.navbot-links p {
  font-weight: 400;
  font-size: 1rem;
  font-family: Helvetica;
  margin: 1.5rem 0rem;
  transition: all 200ms ease;
  cursor: pointer;
}

.navbot-links p:hover {
  color: #1ed760;
}

.navbot-socials {
  display: flex;
  gap: 2rem;
}

.navbot-socials a {
  background: #222326;
  border-radius: 25px;
  height: 2rem;
  width: 2rem;
  aspect-ratio: 1/1;
  scale: 1.7;
  text-decoration: none;
  color: white;
}

.navbot-socials i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  transition: all 250ms ease;
  color: white;
}

.navbotimg img {
  width: 150px;
}

.navbot-socials i:hover {
  color: #1ed760;
}

.navbot-bot {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  color: #919496;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
}

.navbot-help {
  display: flex;
  margin-top: auto;
  gap: 2rem;
  color: #919496;
  cursor: pointer;
  transition: all 800ms ease;
}

.navbot-help p {
  transition: all 250ms ease;
}
.navbot-help p:hover {
  color: #1ed760;
}

.navbot-swe {
  transition: all 250ms ease;
  cursor: pointer;
}
.navbot-swe:hover {
  color: #1ed760;
}

.offer-wrapper {
  min-width: 100vh;
  height: 2rem;
  text-align: center;
  background: #c30176;
}

.offer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.offer-container p {
  margin: 0;
  font-size: 0.9rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.offer-p {
  font-weight: 700;
  font-size: 0.9rem;
}

/* COOKIE */

.cookie-wrapper {
  width: fit-content;
  height: fit-content;
  padding: 10vh;
  position: fixed;
  background: rgba(247, 247, 247, 0.952);
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif;
  left: 25%;
  top: 35%;
}

.cookie-container button {
  cursor: pointer;
  text-decoration: none;
  background: #191414;
  border: none;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  border-radius: 1.5rem;
}
